@model SavedWorkoutViewModel

@{
    Layout = "_LayoutTwo";
}

    <table class="table">


        @foreach (var a in Model.Activities.Zip(Model.LiftName, Tuple.Create))
        {
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@a.Item2</td>
                </tr>
                <tr>
                    <th>Sets</th>
                    <td>@a.Item1.Sets</td>
                </tr>
                <tr>
                    <th>Reps</th>
                    <td>@a.Item1.Reps</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>@a.Item1.Weight</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>@a.Item1.Note</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        }


            
        </table>
