@model SavedWorkoutViewModel

@{
    Layout = "_LayoutTwo";
}

        <table>
            <thead>
                <tr>
                    <th>Lift Name</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var a in Model.Activities.Zip(Model.LiftName, Tuple.Create))
                {
                    <tr>
                        <td>@a.Item2</td>
                        <td>@a.Item1.Sets</td>
                        <td>@a.Item1.Reps</td>
                        <td>@a.Item1.Weight</td>
                        <td>@a.Item1.Note</td>
                    </tr>
                }


            </tbody>
        </table>
